fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
pandas
alembic
pytest
httpx
# python-multipart  # Needed if you ever use file uploads or form data
# loguru  # Optional but better logging experience
